@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
header {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo {
  font-size: 1.5rem;
}
header .logo img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #a19d9d;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.5s;
}
.nav-links a:hover {
  color: #fff;
}
.menu-toggle {
  display: none;
}

button {
  background: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background: #555;
}

/* Mobile Navbar */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.filters input,
.filters select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Products */
main {
  min-height: 90vh;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.product {
  width: 200px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
}

footer .socials a {
  color: #a19d9d;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer .socials a:hover {
  color: #ffffff;
}
